@import "../../variables.css";

/*Primero le daremos estilo al navbar*/
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}

.titulo{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu{
    display: flex;
}

.menuBtn {
    display: none;
  }

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none; /*Quita la vineta*/
  }

  .menuItems a {/*Modificamos los elementos dentro del menu items (los que tienen a)*/
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
  }

  
  /*Para cuando el el tamano sea menor al de un monitor*/

  /* Este bloque de código se aplica cuando la pantalla tiene un ancho máximo de 830px. */
@media screen and (max-width: 830px) {

    /* Modifica el estilo de .navbar cuando el ancho de la pantalla es pequeño */
    .navbar {
      flex-direction: column;  /* Cambia la dirección de los elementos a una columna */
      align-items: flex-start;  /* Alinea los elementos al inicio del contenedor */
    }
  
    /* Modifica el estilo de .menu */
    .menu {
      position: absolute;   /* Hace que el menú se posicione de manera absoluta en la pantalla */
      right: 0;             /* Lo posiciona a la derecha */
      margin-right: 10%;    /* Aplica un margen del 10% desde el borde derecho */
      flex-direction: column;  /* Los elementos del menú estarán en una columna */
      align-items: flex-end;  /* Alinea los elementos del menú al final (derecha) */
      gap: 11px;            /* Da un espacio de 11px entre los elementos del menú */
      z-index: 3;           /* Asegura que el menú aparezca por encima de otros elementos */
    }
  
    /* Estilo para el botón de menú */
    .menuBtn {
      display: block;         /* Muestra el botón de menú */
      cursor: pointer;       /* Cambia el cursor a un puntero cuando se pasa sobre el botón */
    }
  
    /* Estilo para los elementos dentro del menú */
    .menuItems {
      display: none;          /* Inicialmente los elementos del menú están ocultos */
      flex-direction: column; /* Los elementos estarán en una columna */
      align-items: center;    /* Los elementos del menú estarán centrados */
      gap: 13px;              /* Espacio de 13px entre cada elemento */
      border-radius: 10px;    /* Bordes redondeados de 10px */
      background: rgb(25, 55, 109); /* Fondo de color */
      background: linear-gradient(  /* Aplicación de un fondo en gradiente */
        0deg, 
        rgba(25, 55, 109, 0.2) 0%,  /* Color del fondo inicial con opacidad */
        rgba(25, 55, 109, 1) 100%  /* Color final del fondo con opacidad completa */
      );
      padding: 24px 33px;     /* Aplica un relleno de 24px vertical y 33px horizontal */
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); /* Sombra difusa alrededor del menú */
    }
  
    /* Clase que se agrega cuando el menú debe mostrarse */
    .menuOpen {
      display: flex;          /* Muestra el menú como un contenedor flex */
      z-index: 1;             /* Asegura que el menú esté por encima de otros elementos */
    }
  
  }
  