@import "../../variables.css";

/*Primero le daremos estilo al navbar*/
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}

.titulo{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu{

}

.menuItems{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);


}