/* este archivo lo usaremos para poder definir cosas como colores y fuentes en un solo lugar */
/* de esta manera hacer cambios mas adelantes en 1 solo lugar */

:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
